
.button {
  border-radius: 11px;
  display: inline-block;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5em 4em;
  margin: auto;
}
.glow-button {
border-radius: 11px;
  color: transparent;
  box-shadow: 0 3px 25px rgba(61,126,228,0.15);
  transition: box-shadow 0.5s ease;
}
.glow-button:hover,
.glow-button:focus {
  box-shadow: 0 5px 45px rgba(61,126,228,20);
}
